<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="7.0.1" targetFramework="net472" />
  <package id="eBay" version="3.1065.0" targetFramework="net472" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="Google.Apis" version="1.36.1" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.36.1" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.36.1" targetFramework="net472" />
  <package id="Google.Apis.Drive.v3" version="1.36.1.1393" targetFramework="net472" />
  <package id="Google.Apis.Sheets.v4" version="1.36.1.1379" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>