@{
    Layout = "/Views/Menu.cshtml";
}
<link rel="stylesheet" href="~/css/fields.css" media="screen" type="text/css" />

<div id="login-form">
    <h1>Ebay</h1>
    <fieldset>
        <form action="/Allegro/TestAllegroApi">
            <input type="submit" value="Ebay">
        </form>
    </fieldset>
</div>