
*.cache
/CoinsOrganizer/.vs/CoinsOrganizer/DesignTimeBuild/.dtbcache
/CoinsOrganizer/.vs/CoinsOrganizer/v15/.suo
/CoinsOrganizer/.vs/CoinsOrganizer/v15/Server/sqlite3/db.lock
/CoinsOrganizer/.vs/CoinsOrganizer/v15/Server/sqlite3/storage.ide
/CoinsOrganizer/.vs/CoinsOrganizer/v15/Server/sqlite3/storage.ide-shm
/CoinsOrganizer/.vs/CoinsOrganizer/v15/Server/sqlite3/storage.ide-wal
/CoinsOrganizer/.vs/config/applicationhost.config
/CoinsOrganizer/BusinessLogic/bin/Debug/netcoreapp2.1/BusinessLogic.dll
/CoinsOrganizer/BusinessLogic/bin/Debug/netcoreapp2.1/BusinessLogic.pdb
/CoinsOrganizer/BusinessLogic/bin/Debug/netcoreapp2.1/DataAccessLayer.dll
/CoinsOrganizer/BusinessLogic/bin/Debug/netcoreapp2.1/DataAccessLayer.pdb
/CoinsOrganizer/BusinessLogic/obj/BusinessLogic.csproj.nuget.g.props
/CoinsOrganizer/BusinessLogic/obj/BusinessLogic.csproj.nuget.g.targets
/CoinsOrganizer/BusinessLogic/obj/Debug/netcoreapp2.1/BusinessLogic.AssemblyInfo.cs
/CoinsOrganizer/BusinessLogic/obj/Debug/netcoreapp2.1/BusinessLogic.csproj.CopyComplete
/CoinsOrganizer/BusinessLogic/obj/Debug/netcoreapp2.1/BusinessLogic.csproj.FileListAbsolute.txt
/CoinsOrganizer/BusinessLogic/obj/Debug/netcoreapp2.1/BusinessLogic.dll
/CoinsOrganizer/BusinessLogic/obj/Debug/netcoreapp2.1/BusinessLogic.pdb
/CoinsOrganizer/BusinessLogic/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/CoinsOrganizer/BusinessLogic/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/CoinsOrganizer/BusinessLogic/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/CoinsOrganizer/BusinessLogic/obj/project.assets.json
/CoinsOrganizer/DataAccessLayer/bin/Debug/netcoreapp2.1/DataAccessLayer.deps.json
/CoinsOrganizer/DataAccessLayer/bin/Debug/netcoreapp2.1/DataAccessLayer.dll
/CoinsOrganizer/DataAccessLayer/bin/Debug/netcoreapp2.1/DataAccessLayer.pdb
/CoinsOrganizer/DataAccessLayer/bin/Debug/netcoreapp2.1/DataAccessLayer.runtimeconfig.dev.json
/CoinsOrganizer/DataAccessLayer/bin/Debug/netcoreapp2.1/DataAccessLayer.runtimeconfig.json
/CoinsOrganizer/DataAccessLayer/obj/DataAccessLayer.csproj.nuget.g.props
/CoinsOrganizer/DataAccessLayer/obj/DataAccessLayer.csproj.nuget.g.targets
/CoinsOrganizer/DataAccessLayer/obj/Debug/netcoreapp2.1/DataAccessLayer.AssemblyInfo.cs
/CoinsOrganizer/DataAccessLayer/obj/Debug/netcoreapp2.1/DataAccessLayer.csproj.FileListAbsolute.txt
/CoinsOrganizer/DataAccessLayer/obj/Debug/netcoreapp2.1/DataAccessLayer.dll
/CoinsOrganizer/DataAccessLayer/obj/Debug/netcoreapp2.1/DataAccessLayer.pdb
/CoinsOrganizer/DataAccessLayer/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/CoinsOrganizer/DataAccessLayer/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/CoinsOrganizer/DataAccessLayer/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/CoinsOrganizer/DataAccessLayer/obj/project.assets.json
/CoinsOrganizer/WebApplication2/obj/CoinsOrganizer.csproj.nuget.g.props
/CoinsOrganizer/WebApplication2/obj/CoinsOrganizer.csproj.nuget.g.targets
/CoinsOrganizer/WebApplication2/obj/Debug/netcoreapp2.1/CoinsOrganizer.AssemblyInfo.cs
/CoinsOrganizer/WebApplication2/obj/Debug/netcoreapp2.1/CoinsOrganizer.RazorAssemblyInfo.cs
/CoinsOrganizer/WebApplication2/obj/Debug/netcoreapp2.1/CoinsOrganizer.RazorTargetAssemblyInfo.cs
/CoinsOrganizer/WebApplication2/obj/Debug/netcoreapp2.1/CoinsOrganizer.Views.dll
/CoinsOrganizer/WebApplication2/obj/Debug/netcoreapp2.1/CoinsOrganizer.Views.pdb
/CoinsOrganizer/WebApplication2/obj/Debug/netcoreapp2.1/CoinsOrganizer.csproj.CopyComplete
/CoinsOrganizer/WebApplication2/obj/Debug/netcoreapp2.1/CoinsOrganizer.csproj.FileListAbsolute.txt
/CoinsOrganizer/WebApplication2/obj/Debug/netcoreapp2.1/CoinsOrganizer.dll
/CoinsOrganizer/WebApplication2/obj/Debug/netcoreapp2.1/CoinsOrganizer.pdb
/CoinsOrganizer/WebApplication2/obj/Debug/netcoreapp2.1/Razor/Views/Coins/AddPage.g.cshtml.cs
/CoinsOrganizer/WebApplication2/obj/Debug/netcoreapp2.1/Razor/Views/Coins/ShowAllPage.g.cshtml.cs
/CoinsOrganizer/WebApplication2/obj/Debug/netcoreapp2.1/Razor/Views/Home/Index.g.cshtml.cs
/CoinsOrganizer/WebApplication2/obj/Debug/netcoreapp2.1/Razor/Views/Menu.g.cshtml.cs
/CoinsOrganizer/WebApplication2/obj/Debug/netcoreapp2.1/Razor/Views/_ViewImports.g.cshtml.cs
/CoinsOrganizer/WebApplication2/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/CoinsOrganizer/WebApplication2/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/CoinsOrganizer/WebApplication2/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/CoinsOrganizer/WebApplication2/obj/Debug/netcoreapp2.1/WebApplication2.AssemblyInfo.cs
/CoinsOrganizer/WebApplication2/obj/Debug/netcoreapp2.1/WebApplication2.RazorAssemblyInfo.cs
/CoinsOrganizer/WebApplication2/obj/WebApplication2.csproj.nuget.g.props
/CoinsOrganizer/WebApplication2/obj/WebApplication2.csproj.nuget.g.targets
/CoinsOrganizer/WebApplication2/obj/project.assets.json
