@{
    Layout = "/Views/Menu.cshtml";
}
<link rel="stylesheet" href="~/css/fields.css" media="screen" type="text/css" />

<div id="login-form">
    <h1>NEW COIN</h1>
    <fieldset>
        <form action="/Ebay/TestEbayApi">
           
            <input type="submit" value="Test">
        </form>
    </fieldset>
</div>
